*.md
*.bib
*.yml
.gitignore
docs/
Wiki_images/*
Paper_images/*
PXO/mcodes/SCMD.m
PXO/mcodes/SDV.m
PXO/mcodes/SGV.m
PXO/mcodes/SPGMC.m
PXO/mcodes/SPlotMyGSM.m
PXO/mcodes/SRV.m
PXO/mcodes/SSAM.m
PXO/mcodes/SSMA.m
PXO/mcodes/STODO.m
PXO/mcodes/SUMF.m
PXO/mcodes/aum.m
PXO/mcodes/cnt.m
PXO/mcodes/deleteme.m
PXO/mcodes/delthesefiles.m
PXO/mcodes/devinfo.txt
PXO/mcodes/dvd1en.m
PXO/mcodes/dvd2en.m
PXO/mcodes/face.m
PXO/mcodes/gswcnt.m
PXO/mcodes/im3d.m
PXO/mcodes/makeremovedir3d.m
PXO/mcodes/pi3d.m
PXO/mcodes/mcsolver3d.m
PXO/mcodes/pradyumna.m
PXO/mcodes/pramati01.m
PXO/mcodes/sbr.m
PXO/mcodes/smc3.m
PXO/mcodes/torus.m
PXO/mcodes/tryingThis.m
PXO/mcodes/trial1.m
PXO/mcodes/trial2.m
